body{
  display: flex;
  padding-top: 10vh;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}


#startbutton{
  background-color:grey;
  color: white;
  border-radius: 8px;
  height: 25px;
  width: 75px;
  margin-bottom: inherit;
}


#endbutton{
  background-color:grey;
  color: white;
  border-radius: 8px;
  height: 25px;
  width: 75px;
}


#text{
  opacity: 0;
}


#tails{
  opacity: 0.0;
  background-color: grey;
  color: white;
  border-radius: 8px;
  height: 25px;
  width: 50px;
  margin-left: 5px;
}
#tails:disabled{
  opacity: 0.0;
}
#tails:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: black;
  color: white;
  border-radius: 8px;
}


#buttons{
  padding-top: 10vh;
}


#heads{
  background-color:grey;
  color: white;
  border-radius: 8px;
  height: 25px;
  width: 50px;
  opacity: 0.0;
}
#heads:hover{
  background-color: black;
  color: white;
  border-radius: 8px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#heads:disabled{
  opacity: 0.0;
}


#results{
  opacity: 1.0;
}


#choices{
  opacity: 1.0;
}


      